---

---

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <title>Kadeřnický salón De Luxe Finish</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/favicon.ico">

  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/bower_components/jquery.easing/js/jquery.easing.js"></script>
  <script type="text/javascript" src="/bower_components/fancybox/source/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.montage.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.slider.js"></script>
  <script type="text/javascript" src="/javascripts/scrollspy.js"></script>
  <script type="text/javascript" src="/javascripts/imagebox.js"></script>
  <script type="text/javascript" src="/javascripts/general.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-27670591-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>

<body>
<div id="body">
  <div id="root">
    <section id="section-nahore" class="clearfix"><a name="section-nahore"></a>
      <div class="container">
        <header><h1 id="section-nahore-logo">De Luxe Finish - kadeřnický salón Tomáše Zehnuly</h1></header>
        <div id="section-nahore-privitani">
          <h6 class="slogan">Vítejte, <strong>dobrý den</strong></h6>
          <p>Vítám Vás na stránkách kadeřnického salonu De&nbsp;Luxe&nbsp;Finish. Chtěl bych Vám zde nabídnout prezentaci svých aktivit a činností v účesové tvorbě.</p>
          <p>O svou klientelu pečuji od roku 2006.</p>
        </div>
        <div id="section-nahore-kontakt">
          <a class="custom" href="#section-kontakt" title="Objednejte se na telefonním čísle 721 284 919">721 284 919</a>
        </div>
      </div>
    </section>

    <section id="section-expo"><a name="section-expo"></a>
      <div class="container container-full">
        <div class="makeup" id="section-expo-border-top"></div>
        <div class="makeup" id="section-expo-border-bottom"></div>
        <div id="section-expo-montage">
          <div class="am-container" id="am-container">
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/1.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/2.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/3.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/4.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/5.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/6.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/7.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/8.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/9.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/10.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/11.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/12.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/13.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/14.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/15.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/16.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/17.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/18.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/19.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/20.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/21.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/22.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/23.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/24.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/25.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/26.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/27.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/28.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/29.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/30.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/31.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/32.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/33.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/34.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/35.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/36.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/37.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/38.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/39.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/40.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/41.jpg" alt="De Luxe Finish - portfolio"/></a>
            <a class="custom" href="#section-portfolio" title="Přejít na portfolio"><img src="/images/data/expo/42.jpg" alt="De Luxe Finish - portfolio"/></a>
          </div>
        </div>
      </div>
    </section>

    <section id="section-nav" class="clearfix"><a name="section-nav"></a>

      <div class="container">
        <ul class="wrappee">
          <li class="nav-item-nahore active"><a href="#section-nahore" title="Vrátit se nahorů">Nahorů</a></li>
          <li class="nav-item-novinky"><a href="#section-novinky" title="Přejít na sekci Novinky">Novinky</a></li>
          <li class="nav-item-deluxefinish"><a href="#section-deluxefinish" title="Přejít na sekci De Luxe Finish">De Luxe Finish</a></li>
          <li class="nav-item-uspechy"><a href="#section-uspechy" title="Přejít na sekci Úspěchy">Úspěchy</a></li>
          <li class="nav-item-historie"><a href="#section-historie" title="Přejít na sekci Historie">Historie</a></li>
          <li class="nav-item-portfolio"><a href="#section-portfolio" title="Přejít na sekci Portfolio">Portfolio</a></li>
          <li class="nav-item-kontakt"><a href="#section-kontakt" title="Přejít na sekci Kontakt">Kontakt</a></li>
        </ul>
      </div>
    </section>

    <section id="section-novinky" class="clearfix"><a name="section-novinky"></a>
      <div class="container">
        <header><h2>Novinky</h2></header>
        <div class="slider">
          <div class="slider-init slider-four slider-controls slider-pager">

            {% for item in site.data.novinky %}
              <div class="slider-item">
                <div class="hidden"><div class="fancybox-content-html" id="section-novinky-fancybox-{$key}">{{ item[1].body }}</div></div>
                <div class="frame">
                  <a class="fancybox-trigger-html" href="#section-novinky-fancybox-{$key}" title="Zobrazit celou novinku">
                    <div class="image">
                      <img src="/images/data/novinky/{{ item[0] }}.png" />
                      <div class="image-overlay image-overlay-plus"></div>
                    </div>
                    <div class="caption">
                      <p class="caption-date">{{ item[1].date }}</p>
                      <p class="caption-title">{{ item[1].title }}</p>
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </section>

    <section id="section-deluxefinish" class="clearfix"><a name="section-deluxefinish"></a>
      <hr/>
      <div class="container">
        <header><h2>De Luxe Finish</h2></header>
        <div id="section-deluxefinish-panorama">
          <div class="imagebox">
            <img class="imagebox-panel" src="/images/gui/deluxefinish-panorama-content.jpg"/>
          </div>
        </div>
        <div id="section-deluxefinish-galerie">
          <div class="frame left">
            <a class="fancybox-trigger" href="/images/data/deluxefinish/1.jpg" rel="deluxefinish">
              <div class="image">
                <img src="/images/data/deluxefinish/1-thumb.png" alt="Kadeřnický salón De Luxe Finish"/>

                <div class="image-overlay image-overlay-zoom"></div>
              </div>
            </a>
          </div>
          <div class="frame right">
            <a class="fancybox-trigger" href="/images/data/deluxefinish/2.jpg" rel="deluxefinish">
              <div class="image">
                <img src="/images/data/deluxefinish/2-thumb.png" alt="Kadeřnický salón De Luxe Finish"/>

                <div class="image-overlay image-overlay-zoom"></div>
              </div>
            </a>
          </div>
          <div class="frame left">
            <a class="fancybox-trigger" href="/images/data/deluxefinish/3.jpg" rel="deluxefinish">
              <div class="image">
                <img src="/images/data/deluxefinish/3-thumb.png" alt="Kadeřnický salón De Luxe Finish"/>

                <div class="image-overlay image-overlay-zoom"></div>
              </div>
            </a>
          </div>
          <div class="frame right">
            <a class="fancybox-trigger" href="/images/data/deluxefinish/4.jpg" rel="deluxefinish">
              <div class="image">
                <img src="/images/data/deluxefinish/4-thumb.png" alt="Kadeřnický salón De Luxe Finish"/>

                <div class="image-overlay image-overlay-zoom"></div>
              </div>
            </a>
          </div>
        </div>
        <div id="section-deluxefinish-povidani">
          <h6 class="slogan">Kadeřnický salón<br/>ve kterém se <strong>budete cítit dobře.</strong></h6>

          <p>Profesionálně vybavený kadeřnický salón v Kroměříži.<br/>Parkování zdarma hned před salónem.<br/>Příjemné,
            klidné a klimatizované prostředí.</p>

          <p>&nbsp;</p>

          <p>Profesionální péče o vlasy s kvalitní vlasovou kosmetikou.</p>

          <div id="section-deluxefinish-povidani-sluzby">
            <ul class="bullets">
              <li>Dámské, pánské a dětské úpravy vlasů.</li>
              <li>Kreativní společenské účesy, prodlužování a zahušťování vlasů, relaxační masáže s mytím
                vlasů.
              </li>
              <li>Poradenská činnost a diagnostika vlasů.</li>
              <li>Kvalitní vlasová kosmetika - i samostatný prodej.</li>
              <li>Proměny dle trendových kolekcí.</li>
            </ul>
          </div>

        </div>
      </div>
    </section>

    <section id="section-uspechy" class="clearfix"><a name="section-uspechy"></a>
      <hr/>
      <div class="container">
        <header><h2>Úspěchy</h2></header>
        <div id="section-uspechy-slider" class="slider">
          <div class="slider-init slider-four slider-controls slider-pager">

            {% for item in site.data.uspechy %}
              <div class="slider-item">
                <a class="fancybox-trigger" rel="uspechy" href="/images/data/uspechy/{{ item[0] }}.jpg">
                  <div class="frame">
                    <div class="image">
                      <img src="/images/data/uspechy/{{ item[0] }}-thumb.png" alt="{{ item[1] }}"/>

                      <div class="image-overlay image-overlay-zoom"></div>
                    </div>
                    <div class="caption">
                      <p class="caption-title">{{ item[1] }}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </section>

    <section id="section-historie" class="clearfix"><a name="section-historie"></a>
      <hr/>
      <div class="container">
        <header><h2>Historie</h2></header>
        <div id="section-historie-slider" class="slider">
          <div class="slider-init slider-four slider-controls slider-pager">
            {% for item in site.data.historie %}
              <div class="slider-item">
                <a class="fancybox-trigger" rel="historie" href="/images/data/historie/{{ item[0] }}.jpg">
                  <div class="frame">
                    <div class="image">
                      <img src="/images/data/historie/{{ item[0] }}-thumb.png" alt="{{ item[1].title }}"/>

                      <div class="image-overlay image-overlay-zoom"></div>
                    </div>
                    <div class="caption">
                      <p class="caption-date">{{ item[1].date }}</p>

                      <p class="caption-title">{{ item[1].title }}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
        <div id="section-historie-cihla">
          <div id="section-historie-povidani">
            <h6 class="slogan">O <strong>Tomáši Zehnulovi</strong></h6>

            <p>Jmenuji se Tomáš Zehnula. Vyučil jsem se v roce 2006 na Střední škole gastronomie a služeb v
              oboru Kadeřník. V roce 2009 jsem na SŠP v Kroměříži získal maturitní zkoušku v oboru
              Podnikání.</p>

            <p>Již v průběhu učení jsem se účastnil několika celostátních soutěží v účesové tvorbě, v
              soutěžních aktivitách jsem pokračoval také jako profesionál. V letech 2009 a 2010 jsem se
              zúčastnil Wella Trend Awards a postoupil mezi nejlepší kadeřníky v ČR.</p>
          </div>
          <div id="section-historie-osa">
            <div class="item">
              <p class="date">2003 - 2006</p>
              <h6>Střední škola gastronomie a služeb</h6>
            </div>
            <div class="item">
              <p class="date">2006</p>
              <h6>Začátek kariéry</h6>
            </div>
            <div class="item">
              <p class="date">2006-2009</p>
              <h6>Střední škola podnikatelská, obor Podnikání</h6>
            </div>
            <div class="item">
              <p class="date">2010</p>
              <h6>Přemístění do nového vlastního salónu</h6>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-portfolio" class="clearfix"><a name="section-portfolio"></a>
      <hr/>
      <div class="container">
        <header><h2>Portfolio</h2></header>
        {% for item in site.data.portfolio %}
          <div class="item clearfix {% if forloop.index > 3 %}hidden{% endif %}">
            <div class="item-head">
              <h3>{{ item[1].title }}</h3>
              <ul class="credits">
                {% for credit in item[1].credits %}
                <li class="icon {{ item[1].role }}"><span class="role">{{ credit.role }}:</span> <span class="name">{{ credit.name }}</span></li>
                {% endfor %}
              </ul>
              <div class="cta">
                <a class="section-portfolio-button-album-on-facebook" href="{{ item[1].facebook }}">Album
                  na Facebooku</a>
              </div>
            </div>
            <div class="item-body">
              <div class="slider">
                <div class="slider-init slider-three slider-controls slider-pager">
                  {% for i in (1..item[1].images) %}
                    <div class="slider-item">
                      <div class="frame">
                        <a class="fancybox-trigger" rel="{{ item[0] }}" href="/images/data/portfolio/{{ item[0] }}/{{i}}.jpg"><img src="/images/data/portfolio/{{ item[0] }}/{{i}}-thumb.png" /></a>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <div id="section-portfolio-button-more">
          <a class="js" href="">Zobrazit více</a>
        </div>
      </div>
    </section>

    <section id="section-kontakt" class="clearfix"><a name="section-kontakt"></a>
      <hr/>
      <div class="container">
        <header><h2>Kontakt</h2></header>
        <div id="section-kontakt-vlevo">
          <h6 class="slogan">Těším se na Vaši návštěvu</h6>

          <div id="section-kontakt-vlevo-povidani">
            <p>Děkuji Vám za Váš čas, který jste strávili návštěvou mé prezentace a těším se na naše osobní
              setkání. Vašeho zájmu o náš salón si velmi cením.</p>
          </div>
          <div id="section-kontakt-vlevo-adresa">
            <address><p>De Luxe Finish<br/>Kotojedská 434/8<br/>767 01 Kroměříž</p></address>
            <p class="icon email"><a href="mailto:tomas@deluxefinish.cz"
                                     title="Napište mi email na tomas@deluxefinish.cz">tomas@deluxefinish.cz</a>
            </p>
          </div>
          <div id="section-kontakt-vlevo-mapa">
            <div class="wrappee">
              <iframe width="580" height="300" frameborder="0" scrolling="no" marginheight="0"
                      marginwidth="0"
                      src="http://maps.google.cz/maps?q=49.293822,17.400793&amp;num=1&amp;t=h&amp;vpsrc=6&amp;sll=49.29346,17.399052&amp;sspn=0.006295,0.006295&amp;brcurrent=5,0,1&amp;ie=UTF8&amp;ll=49.293841,17.400799&amp;spn=0.002099,0.006427&amp;z=17&amp;output=embed"></iframe>
            </div>
          </div>
        </div>
        <div id="section-kontakt-vpravo">

      <form id="section-kontakt-vpravo-dopis" action="http://forms.brace.io/strajk@me.com" method="POST">
            <input type="hidden" name="_cc" value="strajk@me.com" />
            <input type="hidden" name="_next" value="http://www.deluxefinish.cz" />
            <div class="wrappee">
              <dl class="text">
                <dt>Jméno</dt>
                <dd><input type="text" name="jmeno" /></dd>
              </dl>
              <dl class="text">
                <dt>Kontakt</dt>
                <dd><input type="text" name="kontakt" /></dd>
              </dl>
              <dl class="textarea">
                <dt>Zpráva</dt>
                <dd><textarea name="zprava"></textarea></dd>
              </dl>
              <dl class="submit">
                <button type="submit" id="section-kontakt-vpravo-dopis-button">Odeslat zprávu</button>
              </dl>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section id="section-paticka" class="clearfix"><a name="section-paticka"></a>
      <hr/>
      <p id="section-paticka-disclaimer">&copy; Tomáš Zehnula</p>
    </section>
  </div>
</div>
</body>
</html>

