@font-face {
    font-family: 'GeogrotesqueBoldItalic';
    src: url('../fonts/geog-bdit-webfont.eot');
    src: url('../fonts/geog-bdit-webfont.eot') format('embedded-opentype'),
         url('../fonts/geog-bdit-webfont.woff') format('woff'),
         url('../fonts/geog-bdit-webfont.ttf') format('truetype'),
         url('../fonts/geog-bdit-webfont.svg#GeogrotesqueBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueLightItalic';
    src: url('../fonts/geog-lgit-webfont.eot');
    src: url('../fonts/geog-lgit-webfont.eot') format('embedded-opentype'),
         url('../fonts/geog-lgit-webfont.woff') format('woff'),
         url('../fonts/geog-lgit-webfont.ttf') format('truetype'),
         url('../fonts/geog-lgit-webfont.svg#GeogrotesqueLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueMediumItalic';
    src: url('../fonts/geog-mdit-webfont.eot');
    src: url('../fonts/geog-mdit-webfont.eot') format('embedded-opentype'),
         url('../fonts/geog-mdit-webfont.woff') format('woff'),
         url('../fonts/geog-mdit-webfont.ttf') format('truetype'),
         url('../fonts/geog-mdit-webfont.svg#GeogrotesqueMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueRegularItalic';
    src: url('../fonts/geog-rgit-webfont.eot');
    src: url('../fonts/geog-rgit-webfont.eot') format('embedded-opentype'),
         url('../fonts/geog-rgit-webfont.woff') format('woff'),
         url('../fonts/geog-rgit-webfont.ttf') format('truetype'),
         url('../fonts/geog-rgit-webfont.svg#GeogrotesqueRegularItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueSemiBoldItalic';
    src: url('../fonts/geog-sbit-webfont.eot');
    src: url('../fonts/geog-sbit-webfont.eot') format('embedded-opentype'),
         url('../fonts/geog-sbit-webfont.woff') format('woff'),
         url('../fonts/geog-sbit-webfont.ttf') format('truetype'),
         url('../fonts/geog-sbit-webfont.svg#GeogrotesqueSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueThinItalic';
    src: url('../fonts/geog-thit-webfont.eot');
    src: url('../fonts/geog-thit-webfont.eot') format('embedded-opentype'),
         url('../fonts/geog-thit-webfont.woff') format('woff'),
         url('../fonts/geog-thit-webfont.ttf') format('truetype'),
         url('../fonts/geog-thit-webfont.svg#GeogrotesqueThinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueUltraLightItalic';
    src: url('../fonts/geog-ulit-webfont.eot');
    src: url('../fonts/geog-ulit-webfont.eot') format('embedded-opentype'),
         url('../fonts/geog-ulit-webfont.woff') format('woff'),
         url('../fonts/geog-ulit-webfont.ttf') format('truetype'),
         url('../fonts/geog-ulit-webfont.svg#GeogrotesqueUltraLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueBold';
    src: url('../fonts/geogtq-bd-webfont.eot');
    src: url('../fonts/geogtq-bd-webfont.eot') format('embedded-opentype'),
         url('../fonts/geogtq-bd-webfont.woff') format('woff'),
         url('../fonts/geogtq-bd-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-bd-webfont.svg#GeogrotesqueBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueLight';
    src: url('../fonts/geogtq-lg-webfont.eot');
    src: url('../fonts/geogtq-lg-webfont.eot') format('embedded-opentype'),
         url('../fonts/geogtq-lg-webfont.woff') format('woff'),
         url('../fonts/geogtq-lg-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-lg-webfont.svg#GeogrotesqueLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueMedium';
    src: url('../fonts/geogtq-md-webfont.eot');
    src: url('../fonts/geogtq-md-webfont.eot') format('embedded-opentype'),
         url('../fonts/geogtq-md-webfont.woff') format('woff'),
         url('../fonts/geogtq-md-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-md-webfont.svg#GeogrotesqueMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueRegular';
    src: url('../fonts/geogtq-rg-webfont.eot');
    src: url('../fonts/geogtq-rg-webfont.eot') format('embedded-opentype'),
         url('../fonts/geogtq-rg-webfont.woff') format('woff'),
         url('../fonts/geogtq-rg-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-rg-webfont.svg#GeogrotesqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueSemiBold';
    src: url('../fonts/geogtq-sb-webfont.eot');
    src: url('../fonts/geogtq-sb-webfont.eot') format('embedded-opentype'),
         url('../fonts/geogtq-sb-webfont.woff') format('woff'),
         url('../fonts/geogtq-sb-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-sb-webfont.svg#GeogrotesqueSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueThin';
    src: url('../fonts/geogtq-th-webfont.eot');
    src: url('../fonts/geogtq-th-webfont.eot') format('embedded-opentype'),
         url('../fonts/geogtq-th-webfont.woff') format('woff'),
         url('../fonts/geogtq-th-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-th-webfont.svg#GeogrotesqueThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GeogrotesqueUltraLight';
    src: url('../fonts/geogtq-ul-webfont.eot');
    src: url('../fonts/geogtq-ul-webfont.eot') format('embedded-opentype'),
         url('../fonts/geogtq-ul-webfont.woff') format('woff'),
         url('../fonts/geogtq-ul-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-ul-webfont.svg#GeogrotesqueUltraLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

