/* Basic layout */
html, body {height: 100%;}
body {text-align: center; position: relative;}
#root {clear: both;}

/* Containers */
.container {width: 940px; margin: 0 auto; text-align: left; position: relative;}
.container.container-full {width: 100%; margin: 20px auto;}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


